@use "vars" as *;

/* Глобальні стилі */
body {
  font-family: $font-montserrat;
  font-size: 16px;
  background-color: $bg-color-white;
  color: $text-color-low-black;
  //overflow: hidden;
}

a {
  color: $text-color-low_black;
}

.text {
  color: $text-color-low_black;
}

.icon {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 80px;
}

.card__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color-black;
}

.section__title {
  position: relative;
  display: inline-block;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: $text-color-black;

  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 3px;
    background-color: $bg-color-brown;
    transition: width 0.3s ease;
  }
}

section:hover {
  .section__title::after {
    width: 130px;
  }
}