@use "vars" as *;

/* Глобальні стилі */
body {
  font-family: $font-montserrat;
  font-size: 16px;
  background-color: $bg-color-white;
  color: $text-color-low-black;
  overflow: hidden;
}

a {
  color: $text-color-low_black;
  transition: color 0.2s ease-in;

  &:hover {
    color: $text-color-brown;
  }
}

.text {
  color: $text-color-low_black;
}

.icon {
  width: 20px;
  height: 20px;
  transition: fill 0.3s ease;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 80px;
}