// Fonts
$font-montserrat: 'Montserrat', sans-serif;

// Background Colors
$bg-color-white: #ffffff;
$bg-color-brown: #be9960; // #9d855f
$bg-color-light-grey: #f6f6f6;

// Text Colors
$text-color-white: #ffffff;
$text-color-black: #000000;
$text-color-low_black: #2e2e2e;
$text-color-brown: #be9960; // #9d855f